.faculty-header__main{
    align-items: center;
    position: relative;
    padding: 40px 150px 10px 150px;
    margin-bottom: 0;
}

.faculty-header__icon{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 50px;

    img{
        width: 100%;
        height: 100%;
    }
}

.faculty-header__title{
    width: 100%;
    height: fit-content;
    // font-size: 28px;
    color: #197326;
    mix-blend-mode: normal;
    text-align: center;
}

.faculty-header__description{
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 40px 50px;
    

    h2{
        font-size: 20px;
        text-align: left;
        padding: 0 50px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 100%;
            background-color: $dark-green;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

    }
}