.faculty-scientific-society__header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include breakpoint($mobile-bp){
        flex-direction: column;
    }
}

.faculty-scientific-society__icon{
    height: 120px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/scientific_society.png);

    @include breakpoint($mobile-bp){
        height: 80px;
        width: 80px;
        margin-bottom: 15px;
    }
}

.faculty-scientific-society__intro-text{
    width: calc(100% - 120px);
    height: fit-content;
    text-align: center;
    padding: 0 15px;
    font-size: 18px;

    @include breakpoint($mobile-bp){
        width: 100%;
        font-size: 16px;
        padding: 0;
    }
}

.faculty-scientific-society__description,
.faculty-scientific-society__contacts{
    padding: 15px; 
}

.faculty-scientific-society__contacts{
    display: flex;
    flex-direction: column;
}

.faculty-scientific-society__description a{
    text-decoration: underline;
    margin-bottom: 10px;
}