.department-intro{

    .department-year{
        padding: 25px 30px;
        border-top: 3px solid #ffffff;
        border-bottom: 3px solid #ffffff;

        p{
            font-size: 20px;
            margin-bottom: 0;
        }
    }

    .department-description{
        padding: 25px 30px;
        border-bottom: 3px solid #ffffff;

        p{
            font-size: 20px;
            margin-bottom: 0;
        }
    }
}