.gallery-container{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px;

    .card{
        flex: 0 1 31.33%;
        
        margin: 0 1%;
        margin-bottom: 40px; 
    }
}

.gallery-single-header{
    margin-top: 200px;
    padding: 0 50px;

    h2{
        font-size: 24px;
    }
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 50px ;

    a{
        flex: 0 1 31.33%;
        margin: 0 1%;
        margin-bottom: 40px; 

        img, picture{
            width: 100%;
            height: auto;
        }
    }
}