.department-card{
    width: calc(50% - 30px);
    margin-bottom: 15px;

    .department-card__link{
        height: 100%;
        width: 100%;
        padding: 15px 20px;
        cursor: pointer;
        padding-bottom: 30px;
    }

    .department-card__body{
        display: flex;
        width: 100%;
    }

    .department-data{
        width: calc(100% - #{$card-photo-size});
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 20px;

        .department-title{
            text-align: center;
        }
    }

    .department-image{
        width: fit-content;

        .department-image__container{
            height: $card-photo-size;
            width: $card-photo-size;
            border-radius: 50%;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover
        }
    }

    .department-contacts{
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: flex-end;

        .phone-link,
        .email-link{
            width: fit-content;
            font-size: 14px;
            background-size: 14px 14px;
            padding-left: 20px;
            line-height: 15px;
            background-position: 2px 7px;
        }
    }

}

