.hiding-list{
    margin-bottom: 15px;

    .hiding-list__title{
        position: relative;
        padding-left: 15px;
        cursor: pointer;
        font-size: 20px;
        -webkit-tap-highlight-color: transparent;

        &::before{
            content: '';
            position: absolute;
            background-color: $dark-green;
            height: 10px;
            width: 10px;
            left: 0;
            top: 6px;
            transition: transform .5s, height .5s, width .5s;
        }

        &::after{
            content: '';
            position: absolute;
            height: 20px;
            width: 20px;
            right: 0;
            top: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/assets/images/svg/arrow-right.svg);
            transform: translateY(-50%);

            transition: transform .3s;
        }
    }


    .hiding-list__body{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.33s, opacity 0.33s linear;
        transition-delay: 0s;
        height: 0;

        li{
            margin-bottom: 15px;

            a{
                text-decoration: underline;
            }
        }
    }

    &.active{
        .hiding-list__body{
            padding: 15px;
            padding-left: 20px;
            visibility: visible;
            opacity: 1;
            height: fit-content;
        }

        .hiding-list__title{
            &::after{
                transform: translateY(-50%) rotate(90deg);
            }

            &::before{
                transform: rotate(360deg);
                top: 3.5px;
                left: -2.5px;
                height: 15px;
                width: 15px;
            }
        }
    }
}