.news-card{
    height: 350px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: .2s transform;

    &:hover{
        transform: scale(1.05);
    }

    .article__preview{
        height: 55%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .article__tag{
        user-select: none;
        width: 120px;
        font-size: 12px;
        padding: 4px 0;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 20px;
        border-radius: 5px;
        background-color: $hover-green;
        font-weight: 700;
        color: $white;
        text-align: center;
    }

    .card-body{
        padding: 25px 20px;
    }

    .card-footer{
        margin-top: auto;
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 50px;
        border-top: 1px solid $grey;
    }

    .article__author{
        position: relative;
        font-size: 10px;
        margin-right: 5px;
        height: fit-content;
        padding-left: 19px;

        &::before{
            content: '';
            position: absolute;
            height: 12px;
            width: 12px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(/assets/images/svg/news-author-icon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .article__date{
        font-size: 10px;
        height: fit-content;
    }

    &.bigger{ 
        .article__tag{
            font-size: 14px;
            padding: 8px 0;
            left: 40px;
            width: 140px;
        }

        .card-body{
            padding: 50px 40px;
        }

        .article__title{
            font-size: 24px;
        }

        .card-footer{
            padding: 0 40px;
            margin-top: auto;
            display: flex;
            height: 75px;
        }

        .article__author{
            font-size: 14px;
        }
    
        .article__date{
            font-size: 14px;
        }
    }



}