section.hiding{
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    padding: 0 30px;
    margin: 0 30px;
    width: calc(100% - 60px);

    -webkit-box-shadow: 7px 7px 20px -9px rgba(0,0,0,0.2),
                            -7px -7px 20px -9px rgba(255,255,255,0.5);
    -moz-box-shadow: 7px 7px 20px -9px rgba(0,0,0,0.2),
                    -7px -7px 20px -9px rgba(255,255,255,0.2);
    box-shadow: 7px 7px 20px -9px rgba(0,0,0,0.2),
                -7px -7px 20px -9px rgba(51, 51, 51, 0.01);

    .section-title{
        cursor: pointer;
        line-height: 26px;
        padding: 10px 0 10px 0;
        position: relative;
        transition: border-bottom .3s;
    }

    .section-title::before{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        right: 0;
        top: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/assets/images/svg/arrow-right.svg);
        transition: transform .3s;
    }

    .section-body{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.33s, opacity 0.33s linear;
        transition-delay: 0s;

        .content{
            height: 0;
            transition: height .1s linear;
            transition-delay: .3s;
            position: relative;
        }
    }

    &.active{
        .section-title{
            border-bottom: 2px solid #FFFFFF;
        }

        .section-title::before{
            transform: rotate(90deg);
        }

        .section-body{
            padding: 15px;
            visibility: visible;
            opacity: 1;
            
            .content{
                height: fit-content;
                
            }
        }
    }
}