.slider{
    height: 500px;
    width: 100%;
    overflow: hidden;

    .slider__container{
        position: relative;
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    .slider__slide{
        position: relative;
        transition: 1s;
        height: 100%;
        z-index: 3;

        img{
            width: 100%;
            height: auto;
        }
    }

    &.slider-scroller{
        height: fit-content;
        display: flex;

        button[data-action="stop"],
        button[data-action="start"]{
            display: none;
        }
        
        .tns-outer{
            width: calc(100% - 80px);
        }

        .slider__prevSlideButton,
        .slider__nextSlideButton{
            cursor: pointer;
            height: 100%;
            margin: auto;
            padding: 10px;

            .prev-slide-button,
            .next-slide-button{
                width: 20px;
                height: 20px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .prev-slide-button{
                background-image: url(/assets/images/svg/arrow-left.svg);
            }

            .next-slide-button{
                background-image: url(/assets/images/svg/arrow-right.svg);
            }
        }

        .slider__container{
            width: calc(100% - 80px);
            padding: 10px 0;
            overflow: hidden;

            .slider__slides{
                display: block;
                transition-duration: 0.4s;
                white-space: nowrap;
                
                .slider__slide{
                    display: inline-block;
                    vertical-align: top;
                    white-space: normal;
                }
            }
        }
    }

    &.slider-radio{
        input[type="radio"]{
            display: none;
        }

        input[type="radio"]:checked+label { 
            background:rgba(161, 255, 206, 1);
        }

        .navigation-manual{
            position: absolute;
            display: flex;
            justify-content: center;
            
            bottom: 20px;
            z-index: 5;

            .manual-btn{
                display: block;
                padding: 7px;
                border: 3px solid rgba(161, 255, 206, 1);
                border-radius: 50%;
                cursor: pointer;
                transition: 1s;
                background: #ffffff56;
                
            }

            .manual-btn:not(:last-child){
                margin-right: 30px;
            }

            .manual-btn:hover{
                background: rgba(161, 255, 206, 1);
            }
        }
    }
}