.teacher-card{
    background-color: transparent;
    
    .teacher-card__preview{
        position: relative;
        height: 320px;
        width: 250px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint($mobile-bp) {
            height: 270px;
            width: 200px;
        }

        img, picture{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .teacher-card__contacts{
            position: absolute;
            left: 0;
            bottom: 20px;

            .teacher-card__phone-link,
            .teacher-card__email-link{
                display: block;
                background-position: 10px 8px;
                background-repeat: no-repeat;
                background-size: 20px 20px;
                height: 35px;
                border-radius: 0px 5px 5px 0px;
                background-color: $dark-green;
                padding: 10px 0 10px 40px;
                line-height: 100%;
                width: 0;
                color: transparent;
                transition: .5s width, .5s color, .5s background-color;

                &:hover{
                    color: $white;
                    padding: 10px 10px 10px 40px;
                    width: fit-content;
                }

                @include breakpoint($table-bp) {
                    &{
                        font-size: 14px;
                        color: $white;
                        padding: 10px 10px 10px 40px;
                        width: fit-content;
                    }

                    &:hover{
                        pointer-events: none;
                    }
                }

                @media (hover: none) and (pointer: coarse) {
                    &{
                        font-size: 14px;
                        color: $white;
                        padding: 10px 10px 10px 40px;
                        width: fit-content;
                    }

                    &:hover{
                        pointer-events: none;
                    }
                }
            }

            .teacher-card__phone-link{
                background-image: url(#{$url-redirrect}/images/svg/phone-white.svg);
                margin-bottom: 5px;
            }
            
            .teacher-card__email-link{
                background-image: url(#{$url-redirrect}/images/svg/email-white.svg);
            }
        }
    }

    .teacher-card__body{
        padding-top: 25px;

        @include breakpoint($mobile-bp) {
            padding-top: 10px;
        }

        .teacher-name{
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 18px;
        }

        .teacher-rank{
            font-size: 12px;
            line-height: 18px;
            text-align: center;
        }
    }
}

