.teacher-card{

    .teacher-name{
        font-size: 20px;
        color: #197326;
        font-weight: 600;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .teacher-card__body{
        display: flex;
        width: 100%;
    }

    .teacher-data{
        width: calc(100% - #{$card-photo-size});
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 250px;
    }

    .teacher-rank{
        font-size: 14px;
    }

    .teacher-image{
        width: fit-content;

        .teacher-image__container{
            height: $card-photo-size;
            width: $card-photo-size;
            border-radius: 50%;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover
        }
    }

    .teacher-contacts{
        display: flex;
        flex-direction: column;

        .phone-link,
        .email-link{
            font-size: 14px;
            background-size: 14px 14px;
            padding-left: 20px;
            line-height: 15px;
            background-position: 2px 7px;
        }
    }

}

