<div class="card book-card">
    <a href="{{ book.url }}" target="_blank" rel="noopener noreferrer">
        <div class="card-body">
            <div class="book-card__photo" {% if book.cover %}style="background-image: url({{ book.cover.url }});" {% endif %}></div>
            <div class="book-card__title">
                <span>{{ book.title }}</span>
            </div>
            <div class="book-card__author">
                {{ book.authors }}
            </div>
        </div>  
    </a> 
</div>