<div class="slider slider-scroller gallery-scroller">
    <div class="slider__container">
        {% for image in images %}
        <div class="slider__slide">
            <div class="slide__image">
                <picture>
                    <source srcset="{{ image.large_image.url }}" media="(max-height: 1440px) and (orientation: landscape)">
                    <source srcset="{{ image.large_image.url }}" media="(max-width: 1440px) and (orientation: portrait)">
                    <source srcset="{{ image.medium_image.url }}" media="(max-height: 1000px) and (orientation: landscape)">
                    <source srcset="{{ image.medium_image.url }}" media="(max-width: 1000px) and (orientation: portrait)">
                    <source srcset="{{ image.small_image.url }}" media="(max-height: 700px) and (orientation: landscape)">
                    <source srcset="{{ image.small_image.url }}" media="(max-width: 700px) and (orientation: portrait)">
                    <img srcset="{{ image.large_image.url }}" alt="{{ image.alt }}">
                </picture>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="slider__prevSlideButton">
        <div class="prev-slide-button"></div>
    </div>
    <div class="slider__nextSlideButton">
        <div class="next-slide-button"></div>
    </div>
</div>