<div class="card glassed teacher-card linked-card">
    <div class="card__link" data-link="{% url 'teacher' teacher_id=teacher.staff.id %}">
        <div class="teacher-name">
            {{ teacher.staff.first_name }} {{ teacher.staff.second_name }} {{ teacher.staff.third_name }}
        </div>
        <div class="teacher-card__body">
            <div class="teacher-data">
                <div class="teacher-rank">
                    {{ teacher.rank }}
                </div>
                <div class="teacher-contacts">
                    <a href="tel:{{ teacher.phone }}" class="phone-link">
                        {{ teacher.staff.phone }}
                    </a>
                    <a href="mailto:{{ teacher.emails }}" class="email-link">
                        {{ teacher.staff.emails.0 }}
                    </a>
                </div>
            </div>
            <div class="teacher-image">
                <div class="teacher-image__container" 
                    {% if teacher.staff.photo %}style="background-image: url({{ teacher.staff.photo.url}});"{% endif %}>
                </div>
            </div>
        </div>
    </div>
</div>