{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ cathedra.title }}{% endblock title %}

{% block content %}

<section>
    <div class="department-header">
        <div class="department-header__icon">
            <img height="{{ emblem_height }}" width="{{ enblem_width }}" 
                {% if cathedra.emblem %}src="{{ cathedra.emblem.url }}"{% endif %} 
                alt="{{ cathedra.title }} {% trans 'cathedra emblem'%}">
        </div>
        <div class="department-header__content">
            <div class="department-header__faculty-link">
                <a href="{% url '' faculty_id=cathedra.faculty_id %">{{ cathedra.faculty.title }}</a>
            </div>
            <div class="department-data__title">
                {{ cathedra.title }}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="department-intro">
        <div class="department-year">
            <p><b>{% trans 'Рік заснування кафедри' %}:</b> {{ cathedra.year }}</p>
        </div>
        <div class="department-description">
            <p>
                <b>{% trans 'Призначення кафедри' %}:</b> 
                {{ cathedra.goal }}
            </p>
        </div>
    </div>
</section>
<section>
    <div class="section-title">
        {% trans 'Склад кафедры' %}
    </div>
    <div class="slider slider-scroller">
        <div class="slider__prevSlideButton">
            <div class="prev-slide-button"></div>
        </div>
        <div class="slider__container">
            {% for teacher in teachers %}
            <div class="slider__slide">
                {% include 'utils/teacher-card.html' %}
            </div>
            {% endfor %}
        </div>
        <div class="slider__nextSlideButton">
            <div class="next-slide-button"></div>
        </div>
    </div>
</section>
{% if cathedra.educational_programs and cathedra.catalog_of_disciplines %}
<section>
    <div class="department-links__container">
        <a href="{{ cathedra.educational_programs }}">{% trans 'Освітні програми' %}</a>
        <a href="{{ cathedra.catalog_of_disciplines }}">{% trans 'Kаталог дисциплін' %}</a>
    </div>
</section>
{% endif %}
{% if matherial_base %}
<section class="hiding active">
    <div class="section-title">
        {% trans 'Матерiально технiчна база' %}
    </div>
    <div class="section-body">
        <div class="content">
            {% for base in matherial_base %}
            <div class="hiding-list active">
                <div class="hiding-list__title">
                    {{ base.title }}
                </div>
                <ul class="hiding-list__body">
                    {{ base.content }}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% if gallery %}
<section>
    <div class="section-title">
        {% trans 'Соцiальна активнiсть профорiєнтація' %}
    </div>
    {% with gallery as images %}
        {% include 'utils/gallery-slider.html' %}
    {% endwith %}
</section>
{% endif %}
{% if cathedra.history %}
<section class="hiding">
    <div class="section-title">
        {% trans 'Iсторiя кафедри' %}
    </div>
    <div class="section-body">
        <div class="content">
            {{ cathedra.history }}
        </div>
    </div>
</section>
{% endif %}
<section>
    <div class="section-title">
        {% trans 'Контакти кафедри' %}
    </div>
    <div class="row department-contacts">
        {% if cathedra.phone %}
        <a href="tel:{{ cathedra.phone }}" class="phone-link">
            {{ cathedra.phone }}
        </a>
        {% endif %}
        {% if cathedra.emails %}
        <a href="mailto:{{ cathedra.emails.0 }}" class="email-link">
            {{ cathedra.emails.0 }}
        </a>
        {% endif %}
    </div>
</section>

{% endblock %}