{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ faculty.title }}{% endblock title %}

{% block content %}

<section>
    <div class="faculty-header">
        <div class="row faculty-header__main">
            <h1 class="faculty-header__title">
                {{ faculty.title }}
            </h1>
            <div class="faculty-header__icon">
                <img height="{{ emblem_height }}" width="{{ emblem_width }}" 
                     src="{{ faculty.emblem.url }}" alt="{{ faculty.title }}-KSAU-faculty-logo">
            </div>
        </div>
        <div class="row">
            <div class="faculty-header__description">
                <h2>
                    {{ faculty.description }}
                </h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section-title">
        <h2>{% trans 'Деканат' %}</h2> 
    </div>
    <div class="slider slider-scroller teachers-scroller">
        <div class="slider__prevSlideButton">
            <div class="prev-slide-button"></div>
        </div>
        <div class="slider__container">
            {% for teacher in teachers %}
            <div class="slider__slide">
                {% include 'utils/teacher-card.html' %}
            </div>
            {% endfor %}
        </div>
        <div class="slider__nextSlideButton">
            <div class="next-slide-button"></div>
        </div>
    </div>
</section>

<section>
    <div class="section-title">
        <h2>{% trans 'Кафедри' %}</h2>
    </div>
    <div class="faculty-departments-list row f-wrap">
        {% for cathedra in cathedras %}
            {% include 'utils/cathedra-card.html' %}
        {% endfor %}
    </div>
</section>
 
<section>
    <div class="section-title">
        <h2>{% trans 'Oсвітні програми' %}</h2> 
    </div>
    <div class="faculty-specialities">
        <div class="faculty-specialities__container">
            {% for education_level, specialities in specialities_dict.items %}
                <h3>{{ education_level }}</h3>
                <div class="faculty-specialities__list">
                    <ul>
                        {% for speciality in specialities %}
                        <li>
                            {{ speciality.number }}. {{ speciality.title }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
</section>

{% if gallery %}
<section>
    <div class="section-title">
        {% trans 'Життя факультету' %}
    </div>
    {% with gallery as images %}
        {% include 'utils/gallery-slider.html' %}
    {% endwith %}
</section> 
{% endif %}

{% if faculty.employers %}
<section class="hiding">
    <div class="section-title">
        {% trans 'Рада роботодавців агрономічного факультету' %}
        <span class="section-title__button"></span>
    </div>
    <div class="section-body">
        <div class="content">
            {{ faculty.employers }}
        </div>
    </div>
</section>
{% endif %}

{% if scientific_society %}
<section class="hiding">
    <div class="section-title">
        {% trans 'Наукове товариство студентів, аспірантів, докторантів і молодих вчених' %}
        <span class="section-title__button"></span>
    </div>
    <div class="section-body">
        <div class="content">
            <div class="faculty-scientific-society">
                <div class="faculty-scientific-society__header">
                    <div class="faculty-scientific-society__icon">
                    </div>
                    <div class="faculty-scientific-society__intro-text">
                        {{ scientific_society.sub_title }}
                    </div>
                </div>
                <div class="faculty-scientific-society__staff">
                    <div class="slider slider-scroller">
                        <div class="slider__prevSlideButton">
                            <div class="prev-slide-button"></div>
                        </div>
                        <div class="slider__container">
                            {% for teacher in scientific_society %}
                                {% include 'utils/teacher-card.html' %}
                            {% endfor %}
                        </div>
                        <div class="slider__nextSlideButton">
                            <div class="next-slide-button"></div>
                        </div>
                    </div>
                </div>
                <div class="faculty-scientific-society__description">
                    {{ scientific_society.description }}
                </div>
                <div class="faculty-scientific-society__contacts">
                    <a href="tel:{{ scientific_society.phone }}" class="phone-link">
                        {{ scientific_society.phone }}
                    </a>
                    <a href="mailto:{{ scientific_society.emails.first }}" class="email-link">
                        {{ scientific_society.emails.first }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}