{% load i18n cms_tags %}

<div class="footer__column-title">{% trans 'Контакти' %}</div>
<div class="footer__contacts">
    <div class="address">
        <p>{% trans 'Адреса' %}:</p>
        <a href="{{ instance.location_link|default_if_none:'' }}" target="_blank" rel="noopener noreferrer">
            {{ instance.location_country|default_if_none:'' }}, 
            {{ instance.location_city|default_if_none:'' }},
            {{ instance.location_street|default_if_none:'' }},
            {{ instance.location_zip|default_if_none:'' }}, 
            {% trans 'ХДАЕУ' %}
        </a>
    </div>
    {% if instance.email %}
    <div class="email">
        <p>E-mail:</p>
        <a href="mailto:{{ instance.email }}">{{ instance.email }}</a>
    </div>
    {% endif %}
    {% if instance.phone %}
    <div class="email">
        <p>{% trans 'Phone' %}:</p>
        <a href="tel:{{ instance.phone }}">{{ instance.phone }}</a>
    </div>
    {% endif %}
    <div class="social-links">
        <p>{% trans 'Соцiальнi мережi' %}</p>
        <div class="row">
            {% if instance.facebook_link %}
            <a href="{{ instance.facebook_link }}" target="_blank" rel="noopener noreferrer" aria-label="ksau-facebook">
                <div class="social-link social-links__facebook"></div>
            </a>
            {% endif %}
            {% if instance.youtube_link %}
            <a href="{{ instance.youtube_link }}" target="_blank" rel="noopener noreferrer" aria-label="ksau-youtube">
                <div class="social-link social-links__youtube"></div>
            </a>
            {% endif %}
            {% if instance.instagram_link %}
            <a href="{{ instance.instagram_link }}" target="_blank" rel="noopener noreferrer" aria-label="ksau-instagram">
                <div class="social-link social-links__instagram"></div>
            </a>
            {% endif %}
            {% if instance.telegram_link %}
            <a href="{{ instance.telegram_link }}" target="_blank" rel="noopener noreferrer" aria-label="ksau-telegram">
                <div class="social-link social-links__telegram"></div>
            </a>
            {% endif %}
            {% if instance.tiktok_link %}
            <a href="{{ instance.tiktok_link }}" target="_blank" rel="noopener noreferrer" aria-label="ksau-tiktok">
                <div class="social-link social-links__tiktok"></div>
            </a>
            {% endif %}
            {% if instance.linkedin_link %}
            <a href="{{ instance.linkedin_link }}" target="_blank" rel="noopener noreferrer" aria-label="ksau-linkedin">
                <div class="social-link social-links__linkedin"></div>
            </a>
            {% endif %}
        </div>
    </div>
</div>