<section class="home-intro-section">
    <div class="home-intro" style="background-image: url(/assets/images/main-page-banner.png);">
        <div class="home-intro__text">
            <h1 class="home-intro__header">
                Херсонський державний<br>
                <span>аграрно-економічний</span><br> 
                університет
            </h1>
            <h2 class="home-intro__subheader">
                Готуємо фахівців для агропромислового комплексу, екології, водного господарства, будівництва та інших галузей економіки, 
                здійснюємо фундаментальні та прикладні наукові дослідження
            </h2>
        </div>
    </div>
</section>