.home-news-container{
    height: 650px;
    display: grid;
    /* Выставляем имена строк и треки */
    grid-template-rows: [row1-start] 1fr [row2-start] 1fr;
    grid-template-columns: [col1-start] 1fr [col2-start] .5fr [col3-start] .5fr;
    grid-gap: 30px 15px;

    @include breakpoint($desktop-small) {
        height: 850px;
        grid-template-columns: [col1-start] 1fr [col2-start] 1fr;
        grid-gap: 60px 30px;
    }

    @include breakpoint($table-bp) {
        grid-gap: 30px 15px;
    }

    @include breakpoint($mobile-bp) {
        display: block;
        height: auto;
    }

    .news-card:first-child{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;

        @include breakpoint($desktop-small) {
            grid-row-end: 2;
        }
    }

    .news-card{
        height: 100%;

        @include breakpoint($desktop-small) {
            &:last-child{
                display: none;
            }
        }

        @include breakpoint($mobile-bp) {
            max-width: 350px;
            height: 400px;
            margin: 0 auto;
            margin-bottom: 30px;

            &:last-child{
                display: block;
            }
        }

        &.bigger{
            @include breakpoint($desktop-small) {
                .card-body{
                    padding: 25px 20px;
                    height: calc(45% - 50px);
                }
    
                .article__title{
                    font-size: inherit;
                }
    
                .card-footer{
                    padding: 0 20px;
                    display: flex;
                    height: 50px;
                }
    
                .article__author{
                    font-size: 10px;
                }
    
                .article__date{
                    font-size: 10px;
                    height: fit-content;
                }
    
                .article__tag{
                    width: 120px;
                    font-size: 12px;
                    padding: 4px 0;
                }
            }
        }
    }
}