<section>
    <div class="department-intro">
        <div class="department-year">
            <span>Рік заснування кафедри:</span> 
            <p>2019</p>
        </div>
        <div class="department-description">
            <span>Призначення кафедри:</span> 
            <p>Кафедра забезпечує ефективне вирішення освітніх, організаційно-методичних, науково-дослідних задач з 
            підготовки кваліфікованих фахівців, компетентних у готельно-ресторанному та туристичному бізнесі, здатних 
            до системного аналізу світових соціально-економічних процесів. </p>
        </div>
    </div>
</section>