<section>
    <div class="department-intro">
        <div class="department-year">
            <p><b>Рік заснування кафедри:</b> 2019</p>
        </div>
        <div class="department-description">
            <p><b>Призначення кафедри:</b> 
                Кафедра забезпечує ефективне вирішення освітніх, організаційно-методичних, науково-дослідних задач з 
                підготовки кваліфікованих фахівців, компетентних у готельно-ресторанному та туристичному бізнесі, здатних 
                до системного аналізу світових соціально-економічних процесів. </p>
        </div>
    </div>
</section>