<section class="hiding active">
    <div class="section-title">
        Матерiально технiчна база
        <span class="section-title__button"></span>
    </div>
    <div class="section-body">
        <div class="content">
            <div class="hiding-list active">
                <div class="hiding-list__title">
                    Навчальні посібники
                </div>
                <ul class="hiding-list__body">
                    <li>
                        <a href="">
                            Грановська В.Г., Морозов О.В., Крикунова В.М., Морозова О.С Словник – довідник: туризм і природно-рекреаційний потенціал. 
                                    Науково-методичне видання. Херсон, Вид-во ПП «ЛТ-Офіс», 2019.–192 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            С.І. Самайчук, В.М. Крикунова, Н.С. Танклевська.Фінансовий аналіз: навчальний посібник. – Херсон: ОЛДІ-ПЛЮС, 2019. – 216 с.
                                Навчально-методичний посібник для лабораторних практикумів студентів біолого-технологічного факультету спеціальності «Харчові 
                                технології», – Херсон : РВВ, 2017. – 60 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            2. Навчально-методичний посібник для самостійної роботи студентів біолого-технологічного факультету спеціальності «Харчові 
                            технології»,– Херсон : РВВ, 2017. – 60 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Камінська М.О., Мринський І.М Англо-український словник-посібник  для агрономічних спеціальностей.. Херсон, «Олді+», 
                            2019 – С.117
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Бокшань Г.І., Камінська М.О.,, Макухіна С.В.   Словник-посібник для розвитку професійно-орієнтованої  комунікативної 
                            компетенції  студентів спеціальності «Геодезія та землеустрій». Херсон, «Колос», 2019. – С.117 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Бокшань Г.І., Камінська М.О., Макухіна С.В. Навчальний посібник для розвитку професійно-орієнтованої  комунікативної  
                            компетенції зі спеціальносі  194 «Гідротехнічне будівництво, водна інженерія та водні технології». Херсон, «КОЛОС», 2020.-С. 124 .
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hiding-list">
                <div class="hiding-list__title">
                    Монографії
                </div>
                <ul class="hiding-list__body">
                    <li>
                        <a href="">
                            Грановська В.Г., Морозов О.В., Крикунова В.М., Морозова О.С Словник – довідник: туризм і природно-рекреаційний потенціал. 
                                    Науково-методичне видання. Херсон, Вид-во ПП «ЛТ-Офіс», 2019.–192 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            С.І. Самайчук, В.М. Крикунова, Н.С. Танклевська.Фінансовий аналіз: навчальний посібник. – Херсон: ОЛДІ-ПЛЮС, 2019. – 216 с.
                                Навчально-методичний посібник для лабораторних практикумів студентів біолого-технологічного факультету спеціальності «Харчові 
                                технології», – Херсон : РВВ, 2017. – 60 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            2. Навчально-методичний посібник для самостійної роботи студентів біолого-технологічного факультету спеціальності «Харчові 
                            технології»,– Херсон : РВВ, 2017. – 60 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Камінська М.О., Мринський І.М Англо-український словник-посібник  для агрономічних спеціальностей.. Херсон, «Олді+», 
                            2019 – С.117
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Бокшань Г.І., Камінська М.О.,, Макухіна С.В.   Словник-посібник для розвитку професійно-орієнтованої  комунікативної 
                            компетенції  студентів спеціальності «Геодезія та землеустрій». Херсон, «Колос», 2019. – С.117 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Бокшань Г.І., Камінська М.О., Макухіна С.В. Навчальний посібник для розвитку професійно-орієнтованої  комунікативної  
                            компетенції зі спеціальносі  194 «Гідротехнічне будівництво, водна інженерія та водні технології». Херсон, «КОЛОС», 2020.-С. 124 .
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hiding-list">
                <div class="hiding-list__title">
                    Статті у виданнях, що індексуються у Web of Science і Scopus
                </div>
                <ul class="hiding-list__body">
                    <li>
                        <a href="">
                            Грановська В.Г., Морозов О.В., Крикунова В.М., Морозова О.С Словник – довідник: туризм і природно-рекреаційний потенціал. 
                                    Науково-методичне видання. Херсон, Вид-во ПП «ЛТ-Офіс», 2019.–192 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            С.І. Самайчук, В.М. Крикунова, Н.С. Танклевська.Фінансовий аналіз: навчальний посібник. – Херсон: ОЛДІ-ПЛЮС, 2019. – 216 с.
                                Навчально-методичний посібник для лабораторних практикумів студентів біолого-технологічного факультету спеціальності «Харчові 
                                технології», – Херсон : РВВ, 2017. – 60 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            2. Навчально-методичний посібник для самостійної роботи студентів біолого-технологічного факультету спеціальності «Харчові 
                            технології»,– Херсон : РВВ, 2017. – 60 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Камінська М.О., Мринський І.М Англо-український словник-посібник  для агрономічних спеціальностей.. Херсон, «Олді+», 
                            2019 – С.117
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Бокшань Г.І., Камінська М.О.,, Макухіна С.В.   Словник-посібник для розвитку професійно-орієнтованої  комунікативної 
                            компетенції  студентів спеціальності «Геодезія та землеустрій». Херсон, «Колос», 2019. – С.117 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Бокшань Г.І., Камінська М.О., Макухіна С.В. Навчальний посібник для розвитку професійно-орієнтованої  комунікативної  
                            компетенції зі спеціальносі  194 «Гідротехнічне будівництво, водна інженерія та водні технології». Херсон, «КОЛОС», 2020.-С. 124 .
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hiding-list">
                <div class="hiding-list__title">
                    Статті у фахових виданнях України
                </div>
                <ul class="hiding-list__body">
                    <li>
                        <a href="">
                            Грановська В.Г., Морозов О.В., Крикунова В.М., Морозова О.С Словник – довідник: туризм і природно-рекреаційний потенціал. 
                                    Науково-методичне видання. Херсон, Вид-во ПП «ЛТ-Офіс», 2019.–192 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            С.І. Самайчук, В.М. Крикунова, Н.С. Танклевська.Фінансовий аналіз: навчальний посібник. – Херсон: ОЛДІ-ПЛЮС, 2019. – 216 с.
                                Навчально-методичний посібник для лабораторних практикумів студентів біолого-технологічного факультету спеціальності «Харчові 
                                технології», – Херсон : РВВ, 2017. – 60 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            2. Навчально-методичний посібник для самостійної роботи студентів біолого-технологічного факультету спеціальності «Харчові 
                            технології»,– Херсон : РВВ, 2017. – 60 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Камінська М.О., Мринський І.М Англо-український словник-посібник  для агрономічних спеціальностей.. Херсон, «Олді+», 
                            2019 – С.117
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Бокшань Г.І., Камінська М.О.,, Макухіна С.В.   Словник-посібник для розвитку професійно-орієнтованої  комунікативної 
                            компетенції  студентів спеціальності «Геодезія та землеустрій». Херсон, «Колос», 2019. – С.117 с.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Лебідь О.М., Бокшань Г.І., Камінська М.О., Макухіна С.В. Навчальний посібник для розвитку професійно-орієнтованої  комунікативної  
                            компетенції зі спеціальносі  194 «Гідротехнічне будівництво, водна інженерія та водні технології». Херсон, «КОЛОС», 2020.-С. 124 .
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>