<div class="card glassed department-card">
    <div class="department-card__link" data-department-link="/department.html">
        <div class="department-card__body">
            <div class="department-image">
                <div class="department-image__container" style="background-image: url(/assets/images/department.png);">
                </div>
            </div>
            <div class="department-data">
                <div class="department-title">
                    Кафедра ветеринарії, гігієни та розведення тварин імені В.П.Коваленка
                </div>
                <div class="department-contacts">
                    <a href="tel:+380552416216" class="phone-link">
                        +380552416216
                    </a>
                    <a href="mailto:office@ksau.kherson.ua" class="email-link">
                        office@ksau.kherson.ua
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>