<section class="hiding">
    <div class="section-title">
        Iсторiя кафедри
        <span class="section-title__button"></span>
    </div>
    <div class="section-body">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis viverra tempor quam turpis quis a iaculis elit. 
                Vel a, enim id quisque enim quis leo amet scelerisque. Morbi etiam malesuada nunc nibh libero, pellentesque mauris in bibendum. 
                Ut nunc aliquam mattis cursus. Sit sit tincidunt sit nisl nibh. Eu adipiscing velit magna lectus a commodo sollicitudin dignissim commodo. 
                Euismod volutpat fringilla quam urna. Aliquam ut adipiscing enim consectetur faucibus at sed. In malesuada cras viverra quisque cursus. 
                Egestas vitae risus malesuada et. Tincidunt sapien purus est vivamus pharetra nisl dolor mi. Arcu risus purus at sed amet 
                tristique viverra quam. Consequat, dignissim velit mattis odio. Dictum turpis cursus et sit et. In a elementum netus ultricies consectetur 
                sed sed porta sed. Viverra nunc orci turpis pulvinar maecenas sit et nunc. Sit odio egestas suspendisse scelerisque est in etiam cursus. 
                Volutpat dictum elit, rhoncus faucibus dignissim porta ultricies. Eros, morbi adipiscing donec justo, diam ipsum morbi. Scelerisque mi 
                curabitur pharetra justo, magna quam suscipit diam. Sapien enim nulla tristique nec non aliquet lacinia ut velit. Turpis volutpat pellentesque 
                augue fermentum scelerisque eget. Sed vitae, viverra aliquet posuere. Pulvinar sapien vulputate tortor quis viverra faucibus egestas. 
                Vitae, adipiscing tortor, nunc, nunc tincidunt nisi. Egestas non nibh justo mattis dolor tincidunt donec euismod. Urna suspendisse bibendum 
                quis libero sociis nec gravida. Blandit auctor id in auctor morbi sem viverra semper venenatis. Tellus non odio enim iaculis nibh.</p>
        </div>
    </div>
</section>