<div class="card department-card">
    <div class="department-card__body">
        <div class="department-card__data">
            <div class="department-card__image" style="background-image: url(/assets/images/department.png);">
            </div>
            <div class="department-card__title">
                <a href="/department.html">
                    Кафедра ветеринарії, гігієни та розведення тварин імені В.П.Коваленка
                </a>
            </div>
        </div>
        <div class="department-card__contacts">
            <a href="tel:+38 (055) 241-62-16" class="department__phone-link">
                +38 (055) 241-62-16
            </a>
            <a href="mailto:office@ksau.kherson.ua" class="department__email-link">
                office@ksau.kherson.ua
            </a>
        </div>
    </div>
</div>