<section>
    <div class="department-header">
        <div class="department-header__icon">
            <img height="130" width="126" src="/assets/images/faculty-logo.png" alt="faculty-logo">
        </div>
        <div class="department-header__content">
            <div class="department-header__faculty-link">
                <a href="/faculty.html">Економiчний факультет</a>
            </div>
            <div class="department-data__title">
                Кафедра готельно-ресторанного та туристичного бізнесу й іноземних мов
            </div>
        </div>
    </div>
</section>