<section class="hiding">
    <div class="section-title">
        Наукове товариство студентів, аспірантів, докторантів і молодих вчених
    </div>
    <div class="section-body">
        <div class="content">
            <div class="faculty-scientific-society">
                <div class="faculty-scientific-society__header">
                    <div class="faculty-scientific-society__icon">
                    </div>
                    <div class="faculty-scientific-society__intro-text">
                        Метою діяльності Наукового товариства студентів, аспірантів, докторантів і молодих вчених є створення сприятливих умов 
                        для науково-дослідної роботи та інноваційної діяльності студентів, аспірантів, докторантів і молодих вчених Університету, 
                        об’єднання їхніх зусиль для вирішення актуальних проблем сучасної науки.
                    </div>
                </div>
                <div class="faculty-scientific-society__staff">
                    {{> teachers_slider}}
                </div>
                <div class="faculty-scientific-society__description">
                    <a href="/" target="_blank" rel="noopener noreferrer">
                        План роботи Наукового товариства АФ на 2020 рік
                    </a>
                    <a href="/" target="_blank" rel="noopener noreferrer">
                        Протоколи засідань Ради Наукового товариства АФ
                    </a>
                </div>
                <div class="faculty-scientific-society__contacts">
                    <a href="tel:+380552416216" class="phone-link">
                        +380552416216
                    </a>
                    <a href="mailto:office@ksau.kherson.ua" class="email-link">
                        office@ksau.kherson.ua
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>