<section>
    <div class="faculty-header row">
        <div class="column faculty-header__main">
            <div class="faculty-header__icon">
                <img height="130" width="126" src="/assets/images/faculty-logo.png" alt="faculty-logo">
            </div>
            <h1 class="faculty-header__title">
                Економічний факультет
            </h1>
        </div>
        <div class="column">
            <div class="faculty-header__description">
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida lectus vitae vel purus non vestibulum nibh velit. 
                    Tellus porttitor nam condimentum cras ante nunc interdum. Ut eget senectus vulputate bibendum in viverra a quis sagittis. 
                    Massa purus, sit iaculis neque mauris, vel nunc volutpat arcu.
                </h2>
            </div>
        </div>
    </div>
</section>