<section>
    <div class="section-title">
        Наши специальности
    </div>
    <div class="faculty-specialities">
        <table class="faculty-specialities-table">
            <thead>
                <th>
                    Освітня програма
                </th>
                <th>
                    Спецiальнiсть
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>Молодший бакалавр</td>
                    <td>Право</td>
                </tr>
                <tr>
                    <td>Молодший бакалавр</td>
                    <td>Право</td>
                </tr>
                <tr>
                    <td>Молодший бакалавр</td>
                    <td>Право</td>
                </tr>
                <tr>
                    <td>Молодший бакалавр</td>
                    <td>Право</td>
                </tr>
                <tr>
                    <td>Молодший бакалавр</td>
                    <td>Право</td>
                </tr>
                <tr>
                    <td>Молодший бакалавр</td>
                    <td>Право</td>
                </tr>
                <tr>
                    <td>Молодший бакалавр</td>
                    <td>Право</td>
                </tr>
                <tr>
                    <td>Молодший бакалавр</td>
                    <td>Право</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>