<section>
    <div class="section-title">
        <h2>Наши специальности</h2> 
    </div>
    <div class="faculty-specialities">
        <div class="faculty-specialities__container">
            <h3>Молодший бакалавр</h3>
            <div class="faculty-specialities__list">
                <ul>
                    <li>
                        xxx. Облік і оподаткування
                    </li>
                    <li>
                        xxx. Право
                    </li>
                </ul>
            </div>
        </div>
        <div class="faculty-specialities__container">
            <h3>Бакалавр</h3>
            <div class="faculty-specialities__list">
                <ul>
                    <li>
                        xxx. Облік і оподаткування
                    </li>
                    <li>
                        xxx. Менеджмент
                    </li>
                    <li>
                        xxx. Економіка
                    </li>
                    <li>
                        xxx. Публічне управління та адміністрування
                    </li>
                    <li>
                        xxx. Підприємництво, торгівля та біржова діяльність
                    </li>
                    <li>
                        xxx. Готельно-ресторанна справа
                    </li>
                    <li>
                        xxx. Туризм
                    </li>
                    <li>
                        xxx. Професійна освіта (Економіка)
                    </li>
                    <li>
                        xxx. Фінанси, банківська справа та страхування
                    </li>
                    <li>
                        xxx. Менеджмент ІТ
                    </li>
                </ul>
            </div>
        </div>
        <div class="faculty-specialities__container">
            <h3>Магістр</h3>
            <div class="faculty-specialities__list">
                <ul>
                    <li>
                        xxx. Економіка
                    </li>
                    <li>
                        xxx. Облік і оподаткування
                    </li>
                    <li>
                        xxx. Менеджмент
                    </li>
                    <li>
                        xxx. Підприємництво, торгівля та біржова діяльність
                    </li>
                    <li>
                        xxx. Публічне управління та адміністрування
                    </li>
                    <li>
                        xxx. Професійна освіта (Економіка)
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>