<section class="hiding">
    <div class="section-title">
        Рада роботодавців агрономічного факультету
    </div>
    <div class="section-body">
        <div class="content">
            <p><b>ГОЛОВА РАДИ РОБОТОДАВЦІВ:</b></p>

            <p>1. Йосипенко Ігор Васильович – заступник директора СГП ТОВ «Злато Таврії»;</p>
    
            <p><b>ЗАСТУПНИК ГОЛОВИ РАДИ РОБОТОДАВЦІВ:</b></p>
    
            <p>2. Ревтьо Микола Васильович – експерт з демонстраційних досліджень ТОВ «Байєр»;</p>
    
            <p><b>СЕКРЕТАР РАДИ РОБОТОДАВЦІВ:</b></p>
    
            <p>3. Мринський Іван Миколайович – декан агрономічного факультету.</p>
    
            <p><b>ЧЛЕНИ РАДИ РОБОТОДАВЦІВ:</b></p>
    
            <p>4. _тва НААН України;</p>
    
            <p>5. Деркач Віктор Андрійович – засновник СТОВ «Берегиня»;</p>
    
            <p>6. Дудченко Володимир Вікторович – директор Інституту рису НААН України;</p>
    
            <p>7. Каплін Олександр Олександрович – керівник підрозділу відділу продажів, Херсон, Сингента Україна;</p>
    
            <p>8. Кекух Тетяна Петрівна – керівник ТОВ Агросемтех;</p>
    
            <p>9. Лазер Петро Нарцисович – голова ради засновників науково-виробничої фірми "Дріада";</p>
    
            <p>10. Писарева Катерина Геннадіївна – фахівець з навчання персоналу групи компаній «Агроф’южн»;</p>
    
            <p>11. Синюк Олександр Дмитрович – директор громадської організації «Земля Таврії»;</p>
    
            <p>12. Шевчук Костянтин Миколайович – менеджер селекційно-дослідної станції ТОВ Нунемс Україна;</p>
    
            <p>13. Шишенко Віталій Васильович – директор Агрофірми-радгоспу "Білозерський".</p>
        </div>
    </div>
</section>