<footer class="footer">
    <div class="footer__content">
        <div class="column">
            <div class="footer__icon" style="background-image: url(/assets/images/apple-icon.png);"></div>
            <div class="footer__copyright">
                Херсонський державний аграрно-економічний університет © 2006 - 2020
            </div>
        </div>
        <div class="column">
            <div class="footer__column-title">Факультети</div>
            <div class="footer__links">
                <ul>
                    <li>
                        <a href="/faculty.html">Агрономічний</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Біолого-технологічний</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Рибного господарства та природокориствування</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Архітектури та будівництва</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Економічний</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="footer__column-title">Факультети</div>
            <div class="footer__links">
                <ul>
                    <li>
                        <a href="/faculty.html">Агрономічний</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Біолого-технологічний</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Рибного господарства та природокориствування</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Архітектури та будівництва</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Економічний</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="footer__column-title">Факультети</div>
            <div class="footer__links">
                <ul>
                    <li>
                        <a href="/faculty.html">Агрономічний</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Біолого-технологічний</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Рибного господарства та природокориствування</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Архітектури та будівництва</a>
                    </li>
                    <li>
                        <a href="/faculty.html">Економічний</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="footer__column-title">Контакти</div>
            <div class="footer__contacts">
                <div class="address">
                    <p>Адреса:</p>
                    <a href="https://goo.gl/maps/gfMW9BYgLwjTVcSk7" target="_blank" rel="noopener noreferrer">
                        м. Херсон, вул. Стрітенська, 23, ХДАЕУ
                    </a>
                </div>
                <div class="email">
                    <p>E-mail:</p>
                    <a href="mailto:office@ksau.kherson.ua">office@ksau.kherson.ua</a>
                </div>
                <div class="social-links">
                    <p>Соцсети</p>
                    <div class="row">
                        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="ksau-facebook">
                            <div class="social-link social-links__facebook"></div>
                        </a>
                        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="ksau-youtube">
                            <div class="social-link social-links__youtube"></div>
                        </a>
                        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="ksau-linkedin">
                            <div class="social-link social-links__linkedin"></div>
                        </a>
                        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="ksau-instagram">
                            <div class="social-link social-links__instagram"></div>
                        </a>
                        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="ksau-telegram">
                            <div class="social-link social-links__telegram"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>