<footer class="footer">
    <div class="footer__block">
        <div class="column">
            <div class="footer__block">
                <div class="social-links">
                    <ul>
                        <li class="social-links__link">
                            <a href="https://www.facebook.com/ksau.kherson" title="ksau-facebook" target="_blank" rel="noreferrer">
                                <img width="40" height="40" src="/assets/images/svg/facebook.svg" alt="ksau-facebook">
                            </a>
                        </li>
                        <li class="social-links__link">
                            <a href="https://www.linkedin.com/" title="ksau-linkedin" target="_blank" rel="noreferrer">
                                <img width="40" height="40" src="/assets/images/svg/linkedin.svg" alt="ksau-linkedin">
                            </a>
                        </li>
                        <li class="social-links__link">
                            <a href="https://www.youtube.com/channel/UCSWLJiK-K0g_1kfyfDHpkpQ" title="ksau-youtube" target="_blank" rel="noreferrer">
                                <img width="40" height="40" src="/assets/images/svg/youtube.svg" alt="ksau-youtube">
                            </a>
                        </li>
                        <li class="social-links__link">
                            <a href="https://tg.me" title="ksau-telegram" target="_blank" rel="noreferrer">
                                <img width="40" height="40" src="/assets/images/svg/telegram.svg" alt="ksau-telegram">
                            </a>
                        </li>
                        <li class="social-links__link">
                            <a href="https://instagram.com" title="ksau-instagram" target="_blank" rel="noreferrer">
                                <img width="40" height="40" src="/assets/images/svg/instagram.svg" alt="ksau-instagram">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contact-data">
                <p>
                    <a class="location-link" href="https://goo.gl/maps/gfMW9BYgLwjTVcSk7" target="_blank" rel="noopener noreferrer">Україна, м. Херсон, вул. Стрітенська, 23, ХДАЕУ, 73006</a>
                </p>
                <div class="contact-data__contacts">
                    <a href="tel:+380552416216" class="phone-link">
                        +380552416216
                    </a>
                    <a href="mailto:office@ksau.kherson.ua" class="email-link">
                        office@ksau.kherson.ua
                    </a>
                </div>
                
            </div>
        </div>
        <div class="column">
            <div class="contact-me-form">
                <label for="contact-form-email">Ваша пошта</label>
                <input type="text" name="person-email" placeholder="example@mail.com" id="contact-form-email">
                <label for="contact-form-message">Ваше питання</label>
                <textarea name="person-request" placeholder="Дякую за гарний сайт!" id="contact-form-message"></textarea>
                <button type="button">Надіслати</button>
            </div>
        </div>
    </div>
    <div class="footer__block">
        <div class="column">
            <div class="internal-links">
                <div class="internal-links__header">
                    Часто шукають
                </div>
                <div class="internal-links__body">
                    <a href="/">Університет</a>
                    <a href="/">Абітурієнту</a>
                    <a href="/">Освітній процес</a>
                    <a href="/">Здобувачу</a>
                    <a href="/">Освітні програми</a>
                    <a href="/">Академічна доброчесність</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="internal-links">
                <div class="internal-links__header">
                    Партнери
                </div>
                <div class="internal-links__body">
                    <a target="_blank" rel="noreferrer" href="http://eeas.europa.eu/delegations/ukraine/projects/youth/erasmus_mundus_uk.htm">ERASMUS MUNDUS</a>
                    <a target="_blank" rel="noreferrer" href="http://ec.europa.eu/programmes/erasmus-plus/index_en.htm">ERASMUS+</a>
                    <a target="_blank" rel="noreferrer" href="http://www.erasmusplus.org.ua/">ERASMUS+ UKRAINE</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="internal-links">
                <div class="internal-links__header">
                    Інтернет джерела
                </div>
                <div class="internal-links__body">
                    <a target="_blank" rel="noreferrer" href="http://rada.gov.ua/">Верховна Рада України</a>
                    <a target="_blank" rel="noreferrer" href="http://www.me.gov.ua/">Міністерство розвитку економіки, торгівлі та сільського господарства</a>
                    <a target="_blank" rel="noreferrer" href="http://www.minfin.gov.ua/">Міністерство фінансів України</a>
                    <a target="_blank" rel="noreferrer" href="http://www.kmu.gov.ua/control">Урядовий портал</a>
                    <a target="_blank" rel="noreferrer" href="http://www.president.gov.ua/">Сайт Президента України</a>
                    <a target="_blank" rel="noreferrer" href="http://finance.ua/">Фінанси України</a>
                    <a target="_blank" rel="noreferrer" href="http://www.treasury.gov.ua/uk/index">Державна казначейська служба України</a>
                    <a target="_blank" rel="noreferrer" href="http://sfs.gov.ua/">Державна фіскальна служба України</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        Херсонський державний аграрно-економічний університет © 2006 - 2021
    </div>
</footer>