<div id="gallery-list" class="gallery-list">
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a>
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a> 
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a>
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a> 
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a>
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a> 
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a>
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a> 
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a>
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a> 
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a>
    <a href="/assets/images/gallery-image.png" aria-label="ksau-gallery-image">
        <img src="/assets/images/gallery-image.png" alt="ksau-gallery-image"/>
    </a> 
</div>
