<div class="gallery-single-header">
    <div class="bread-crumbs">
        <ul>
            <li>
                <a href="/">Головна</a>
            </li>
            <li>
                /
            </li>
            <li>
                <a href="/gallery.html">Галерея</a>
            </li>
            <li>
                /
            </li>
            <li>
                <p>Херсонський державний аграрний університет</p>
            </li>
        </ul>
    </div>
    <h2>Херсонський державний аграрний університет</h2>
</div>