<div class="slider slider-scroller gallery-scroller">
    <div class="slider__container">
        <div class="slider__slide">
            <div class="slide__image">
                <img  src="/assets/images/gallery-slider-image-1.png" alt="">
            </div>
        </div>
        <div class="slider__slide">
            <div class="slide__image">
                <img  src="/assets/images/gallery-slider-image-2.png" alt="">
            </div>
        </div>
        <div class="slider__slide">
            <div class="slide__image">
                <img  src="/assets/images/gallery-slider-image-3.png" alt="">
            </div>
        </div>
    </div>
    <div class="slider__prevSlideButton">
        <div class="prev-slide-button"></div>
    </div>
    <div class="slider__nextSlideButton">
        <div class="next-slide-button"></div>
    </div>
</div>