<section>
    <div class="gallery-container">
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
        {{> gallery_card }}
    </div>
</section>