<header class="header">
    <div class="header__icon" style="background-image: url(/assets/images/apple-icon.png);">
        <a href="/" aria-label="ksau-main-page"></a>
    </div>
    <div class="header__links">
        <a href="/">Про університет</a>
        <a href="/">Новини</a>
        <a href="/">Освітній процес</a>
        <a href="/">Наука</a>
        <a href="/">Абітурієнту</a>
        <a href="/">Якість освіти</a>
    </div>
    <div class="header__language_select">
        <div class="dropdown">
            <div class="dropdown__preview">
                ua
            </div>
            <div class="dropdown__select">
                <ul>
                    <li>
                        <a href="/en">en</a>
                    </li>
                    <li>
                        <a href="/ua">ua</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__search">
        <form action="/search">
            <input autocomplete="off" type="text" name="q" aria-label="search">
        </form>
    </div>
    <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>