<meta charset="UTF-8">
<link rel="preload" href="/assets/fonts/Gilroy-Regular.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/assets/fonts/Gilroy-Medium.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/assets/fonts/Gilroy-Bold.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/assets/fonts/Gilroy-ExtraBold.woff" as="font" type="font/woff" crossorigin>

<link rel="stylesheet" href="assets/css/style.min.css">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"/>
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="KSAU">

<!-- icons -->

<link rel="shortcut icon" type="" href="/assets/images/favicon.png">
<link rel="apple-touch-icon" type="image/png" href="/assets/images/apple-icon.png">
<link rel="apple-touch-icon" type="image/png" sizes="57x57" href="/assets/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/assets/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/assets/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" href="/assets/images/favicon.png">

<title>{{ title }}</title>