<section class="main-section">
    <div class="slider slider-scroller popups-scroller">
        <div class="slider__prevSlideButton">
            <div class="prev-slide-button"></div>
        </div>
        <div class="slider__container">
            {{> home__popup }}
            {{> home__popup }}
            {{> home__popup }}
            {{> home__popup }}
            {{> home__popup }}
        </div>
        <div class="slider__nextSlideButton">
            <div class="next-slide-button"></div>
        </div>
    </div>
</section>