<section class="main-section">
    <div class="home-block">
        <div class="block__header">
            <h2>Останні новини</h2>
            <button class="button filled">
                Читати всі статті
            </button>
        </div>
        <div class="home-news-container">
            <div class="card news-card bigger">
                <div class="article__preview" style="background-image: url(/assets/images/new-card-1.jpg);"></div>
                <div class="article__tag">свята</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        Зимова казка в дендрологічному парку Аграрно-економічного університету
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Стукан Тетяна</span> , 
                    </div>
                    <div class="article__date">
                        06 лютого 2021
                    </div>
                </div>
            </div>
            <div class="card news-card">
                <div class="article__preview" style="background-image: url(/assets/images/new-card-2.jpg);"></div>
                <div class="article__tag">свята</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        «Сніжковий батл» в Аграрно-економічному університеті
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Стукан Тетяна</span> , 
                    </div>
                    <div class="article__date">
                        06 лютого 2021
                    </div>
                </div>
            </div>
            <div class="card news-card">
                <div class="article__preview" style="background-image: url(/assets/images/new-card-3.jpg);"></div>
                <div class="article__tag">абітурієнтам</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        Грант для здобувачів вищої освіти у розмірі 12 000 грн
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Оксана Любенко</span> , 
                    </div>
                    <div class="article__date">
                        20 сiчня 2021
                    </div>
                </div>
            </div>
            <div class="card news-card">
                <div class="article__preview" style="background-image: url(/assets/images/new-card-4.jpg);"></div>
                <div class="article__tag">виставки</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        10 кращих екорішень 2020 року з усього світу і з України
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Володимир Кривий</span> , 
                    </div>
                    <div class="article__date">
                        08 лютого 2021
                    </div>
                </div>
            </div>
            <div class="card news-card">
                <div class="article__preview" style="background-image: url(/assets/images/new-card-5.jpg);"></div>
                <div class="article__tag">соціальне життя</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        ПРО НАС ПИШУТЬ… «… освітній процес в умовах карантину, спеціальність 193 «Геодезія та землеустрій»»
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Наталія Дудяк</span> , 
                    </div>
                    <div class="article__date">
                        07 лютого 2021
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>