<section class="main-section">
    <div class="home-block">
        <div class="block__header">
            <h2>Останні новини</h2>
            <button class="button filled">
                Читати всі статті
            </button>
        </div>
        <div class="home-news-container">
            <div class="card news-card bigger">
                <div class="article__preview" style="background-image: url(/assets/images/news-card-image.png);"></div>
                <div class="article__tag">абітурієнтам</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        Профорієнтаційна робота здобувачів вищої освіти біолого-технологічного факультету
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Володимир Кривий</span> , 
                    </div>
                    <div class="article__date">
                        11 лютого 2021
                    </div>
                </div>
            </div>
            <div class="card news-card">
                <div class="article__preview" style="background-image: url(/assets/images/news-card-image-2.png);"></div>
                <div class="article__tag">свята</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        14 лютого – Міжнародний день дарування книг
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Олена Петренко</span> , 
                    </div>
                    <div class="article__date">
                        11 лютого 2021
                    </div>
                </div>
            </div>
            <div class="card news-card">
                <div class="article__preview" style="background-image: url(/assets/images/news-card-image-3.png);"></div>
                <div class="article__tag">абітурієнтам</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        Профорієнтаційні зустрічі з майбутніми абітурієнтами
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Олена Петренко</span> , 
                    </div>
                    <div class="article__date">
                        11 лютого 2021
                    </div>
                </div>
            </div>
            <div class="card news-card">
                <div class="article__preview" style="background-image: url(/assets/images/news-card-image-4.png);"></div>
                <div class="article__tag">оголошення</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        До уваги науковців!
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Володимир Кривий</span> , 
                    </div>
                    <div class="article__date">
                        11 лютого 2021
                    </div>
                </div>
            </div>
            <div class="card news-card">
                <div class="article__preview" style="background-image: url(/assets/images/news-card-image-5.png);"></div>
                <div class="article__tag">соціальне життя</div>
                <div class="card-body">
                    <a class="article__title" href="/news">
                        Про Доброчесність просто
                    </a>
                </div>
                <div class="card-footer">
                    <div class="article__author">
                        <span>Володимир Кривий</span> , 
                    </div>
                    <div class="article__date">
                        11 лютого 2021
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>