<div class="home-cards">
    <div class="card card-home">
        <div class="card-image" style="background-image: url(/assets/images/svg/main-page-card-1.svg);"></div>
        <a class="card-title" href="#abiturient">Абітурієнту</a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
    </div>
    
    <div class="card card-home">
        <div class="card-image" style="background-image: url(/assets/images/svg/main-page-card-2.svg);"></div>
        <a class="card-title" href="#students">Студенту</a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
    </div>

    <div class="card card-home">
        <div class="card-image" style="background-image: url(/assets/images/svg/main-page-card-3.svg);"></div>
        <a class="card-title" href="#teacher">Викладачу</a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
    </div>
</div>
