<div class="card book-card">
    <a href="http://ksau.kherson.ua/files/zeml/2.pdf" target="_blank" rel="noopener noreferrer">
        <div class="card-body">
            <div class="book-card__photo" style="background-image: url(/assets/images/book.png);"></div>
            <div class="book-card__title">
                <span>
                    1914
                </span>
            </div>
            <div class="book-card__author">
                Джордж Орвелл
            </div>
        </div>  
    </a> 
</div>