<div class="card news-card">
    <div class="article__preview" style="background-image: url(/assets/images/news-card-image.png);"></div>
    <div class="article__tag">абітурієнтам</div>
    <div class="card-body">
        <a class="article__title" href="/news">
            Профорієнтаційна робота здобувачів вищої освіти біолого-технологічного факультету
        </a>
    </div>
    <div class="card-footer">
        <div class="article-author">
            <span>Володимир Кривий</span> , 
        </div>
        <div class="article-date">
            11 лютого 2021
        </div>
    </div>
</div>