<div class="card white news-card linked-card">
    <div class="card__link" data-link="/article.html">
        <div class="card-body">
            <div class="news-card__image" style="background-image: url(/assets/images/article-preview.png);"></div>
            <div class="news-card__data">
                <div class="news-card__title">
                    Новость 1
                </div>
                <div class="news-card__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Lorem fames malesuada neque, eros, amet, in consequat eget est. 
                    Diam facilisi nullam quis nunc, sit. Odio ultricies volutpat convallis ante 
                    eros pretium morbi in. Ut ipsum ornare vitae odio vitae. Tortor posuere 
                    velit et duis duis ridiculus metus. Tortor integer in magna ac praesent. 
                    Elementum fermentum vel proin eu nulla nunc ipsum sed
                </div>
            </div>
        </div>
    </div>
</div>