<section class="news-slider">
    <div class="slider slider-radio">
        <div class="slider__container">
            <div class="slider__slide first">
                <img src="/assets/images/news-banner-2.jpg" alt="">
            </div>
            <div class="slider__slide">
                <img src="/assets/images/news-banner-2.jpg" alt="">
            </div>
            <div class="slider__slide">
                <img src="/assets/images/news-banner-2.jpg" alt="">
            </div>
            <div class="slider__slide">
                <img src="/assets/images/news-banner-2.jpg" alt="">
            </div>
        </div>
    </div>
</section>