<section class="news-slider">
    <div class="slider slider-radio">
        <div class="slider__container">
            <div class="slider__slide first">
                <a class="article-link" href="/new.html">
                    <img src="/assets/images/news-banner-2.jpg" alt="">
                    <div class="article-banner">
                        <div class="article-description">
                            Метою проведення конкурсу студентських наукових робіт є виявлення обдарованих студентів, 
                            розвиток інтелектуального потенціалу талановитої молоді, підтримка наукової та творчої роботи студентів, 
                            стимулювання їх інтересу до дослідницької роботи, оволодіння ними інноваційних технологій.
                        </div>
                        <div class="article-title">
                            Проведення І-го етапу Всеукраїнського конкурсу студентських наукових робіт на кафедрі 
                            готельно-ресторанного та туристичного бізнесу й іноземних мов
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider__slide">
                <a class="article-link" href="/new.html">
                    <img src="/assets/images/news-banner-3.jpg" alt="">
                    <div class="article-banner">
                        <div class="article-description">
                            Метою проведення конкурсу студентських наукових робіт є виявлення обдарованих студентів, 
                            розвиток інтелектуального потенціалу талановитої молоді, підтримка наукової та творчої роботи студентів, 
                            стимулювання їх інтересу до дослідницької роботи, оволодіння ними інноваційних технологій.
                        </div>
                        <div class="article-title">
                            Проведення І-го етапу Всеукраїнського конкурсу студентських наукових робіт на кафедрі 
                            готельно-ресторанного та туристичного бізнесу й іноземних мов
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider__slide">
                <a class="article-link" href="/new.html">
                    <img src="/assets/images/news-banner-4.jpg" alt="">
                    <div class="article-banner">
                        <div class="article-description">
                            Метою проведення конкурсу студентських наукових робіт є виявлення обдарованих студентів, 
                            розвиток інтелектуального потенціалу талановитої молоді, підтримка наукової та творчої роботи студентів, 
                            стимулювання їх інтересу до дослідницької роботи, оволодіння ними інноваційних технологій.
                        </div>
                        <div class="article-title">
                            Проведення І-го етапу Всеукраїнського конкурсу студентських наукових робіт на кафедрі 
                            готельно-ресторанного та туристичного бізнесу й іноземних мов
                        </div>
                    </div>
                </a>            </div>
            <div class="slider__slide">
                <a class="article-link" href="/new.html">
                    <img src="/assets/images/news-banner-5.jpg" alt="">
                    <div class="article-banner">
                        <div class="article-description">
                            Метою проведення конкурсу студентських наукових робіт є виявлення обдарованих студентів, 
                            розвиток інтелектуального потенціалу талановитої молоді, підтримка наукової та творчої роботи студентів, 
                            стимулювання їх інтересу до дослідницької роботи, оволодіння ними інноваційних технологій.
                        </div>
                        <div class="article-title">
                            Проведення І-го етапу Всеукраїнського конкурсу студентських наукових робіт на кафедрі 
                            готельно-ресторанного та туристичного бізнесу й іноземних мов
                        </div>
                    </div>
                </a>            </div>
            <div class="slider__slide">
                <a class="article-link" href="/new.html">
                    <img src="/assets/images/news-banner-6.jpg" alt="">
                    <div class="article-banner">
                        <div class="article-description">
                            Метою проведення конкурсу студентських наукових робіт є виявлення обдарованих студентів, 
                            розвиток інтелектуального потенціалу талановитої молоді, підтримка наукової та творчої роботи студентів, 
                            стимулювання їх інтересу до дослідницької роботи, оволодіння ними інноваційних технологій.
                        </div>
                        <div class="article-title">
                            Проведення І-го етапу Всеукраїнського конкурсу студентських наукових робіт на кафедрі 
                            готельно-ресторанного та туристичного бізнесу й іноземних мов
                        </div>
                    </div>
                </a>            
            </div>
        </div>
    </div>
</section>