<div class="pagination">
    <ul>
        <li class="prev-page not-active">
            <a href="?page=">Prev</a>
        </li>
        <li>
            <a href="?page=1">1</a>
        </li>
        <li class="non-clickable">
            ...
        </li>
        <li>
            <a href="?page=6">6</a>
        </li>
        <li class="active">
            <a href="?page=7">7</a>
        </li>
        <li>
            <a href="?page=8">8</a>
        </li>
        <li class="non-clickable">
            ...
        </li>
        <li>
            <a href="?page=18">18</a>
        </li>
        <li class="next-page">
            <a href="?page=">Next</a>
        </li>
    </ul>
</div>