<div class="slider slider-scroller">
    <div class="slider__prevSlideButton">
        <div class="prev-slide-button"></div>
    </div>
    <div class="slider__container">
        <div class="slider__slide">
            {{> teacher_card }}
        </div>
        <div class="slider__slide">
            {{> teacher_card }}
        </div>
        <div class="slider__slide">
            {{> teacher_card }}
        </div>
        <div class="slider__slide">
            {{> teacher_card }}
        </div>
        <div class="slider__slide">
            {{> teacher_card }}
        </div>
        <div class="slider__slide">
            {{> teacher_card }}
        </div>
        <div class="slider__slide">
            {{> teacher_card }}
        </div>
    </div>
    <div class="slider__nextSlideButton">
        <div class="next-slide-button"></div>
    </div>
</div>