<div class="card glassed teacher-card">
    <div class="teacher-card__link" data-teacher-link="/univ/teachers/1">
        <div class="teacher-name">
            John John John
        </div>
        <div class="teacher-card__body">
            <div class="teacher-data">
                <div class="teacher-rank">
                    кандидат економічних наук, доцент
                </div>
                <div class="teacher-contacts">
                    <a href="tel:+380552416216" class="phone-link">
                        +380552416216
                    </a>
                    <a href="mailto:office@ksau.kherson.ua" class="email-link">
                        office@ksau.kherson.ua
                    </a>
                </div>
            </div>
            <div class="teacher-image">
                <div class="teacher-image__container" style="background-image: url(/assets/images/profile-picture-2.png);">
                </div>
            </div>
        </div>
    </div>
</div>