<section class="hiding">
    <div class="section-title">
        Основнi науковi та методичi працi
        <span class="section-title__button"></span>
    </div>
    <div class="section-body">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis viverra tempor quam turpis quis a iaculis elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis viverra tempor quam turpis quis a iaculis elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis viverra tempor quam turpis quis a iaculis elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis viverra tempor quam turpis quis a iaculis elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis viverra tempor quam turpis quis a iaculis elit.</p>
        </div>
    </div>
</section>