<div class="teacher-univ-data">
    <div class="title">Дiяльнiсть</div>
    <div class="teacher-univ-data__info">
        <div class="row">
            <p>
                Кількість наукових та навчально-методичних праць: 1000
            </p>
        </div>
        <div class="row">
            <p>
                Тематика НДР: Теоретичні та прикладні аспекти державного регулювання економіки, економіко-соціальні аспекти розвитку сфери обслуговування
            </p>
        </div>
    </div>
    <div class="teacher-univ-data__workplaces">
        <div class="linked-line-list teacher-univ-data__workspaces-list">
            <div class="row">
                <div class="linked-line-list__link"></div>
                <div class="linked-line-list__data">
                    <a href="/faculty.html">Економічний факультет</a>  - Декан
                </div>
            </div>
            <div class="row">
                <div class="linked-line-list__link"></div>
                <div class="linked-line-list__data">
                    <a href="/faculty.html">Економічний факультет</a>  - Декан
                </div>
            </div>
        </div>
    </div>
    <div class="teacher-univ-data__links">
        <a href="https://publons.com/" class="univ-link web-science" target="_blank" rel="noopener noreferrer" aria-label="web-science"></a>
        <a href="https://www.researchgate.net/" class="univ-link researchgate" target="_blank" rel="noopener noreferrer" aria-label="researchgate"></a>
        <a href="https://scholar.google.com.ua/" class="univ-link google-scholar" target="_blank" rel="noopener noreferrer" aria-label="google-scholar"></a>
        <a href="https://orcid.org/" class="univ-link orcid" target="_blank" rel="noopener noreferrer" aria-label="orcid"></a>
    </div>
</div>