<div class="teacher-profile">
    <h3 class="teacher-profile__name">
        Крикунова  Вiкторiя Миколаївна
    </h3>
    <div class="teacher-profile__photo">
        <img src="/assets/images/teacher-image.png" alt="">
    </div>
    <div class="teacher-profile__rank">
        кандидат економічних наук, доцент
    </div>
    <div class="teacher-profile__contacts row">
        <div class="column">
            <div class="row">
                <a href="mailto:office@ksau.kherson.ua" class="email-link">
                    office@ksau.kherson.ua
                </a>
            </div>
            <div class="row">
                <a href="mailto:office@ksau.kherson.ua" class="email-link">
                    office@ksau.kherson.ua
                </a>
            </div>
        </div>
        <div class="column">
            <div class="row">
                <a href="tel:+380552416216" class="phone-link">
                    +380552416216
                </a>
            </div>
            
        </div>
    </div>
</div>