{% load i118n %}
<div class="teacher-univ-data">
    <div class="">
        <div class="title">{% trans 'Професiйнi досягнення та нагороди' %}</div>
        <div class="teacher-univ-data__achievements">
            {% for reward in teacher.rewards %}
            <p>
                · {{ reward.title }} ({{ reward.year }} {% trans 'year' %})
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="teacher-univ-data__info">
        <div class="row">
            <p>
                {% trans 'Тематика НДР' %}: 
                {{ teacher.ndr_theme }}
            </p>
        </div>
    </div>
    <div class="teacher-univ-data__links">
        {% with links as teacher.links %}
            {% if links.web_of_science %}
            <a href="{{ links.web_of_science }}" class="univ-link web-science" target="_blank" rel="noopener noreferrer" aria-label="web-science"></a>
            {% endif %}
            {% if links.researchgate %}
            <a href="{{ links.researchgate }}" class="univ-link researchgate" target="_blank" rel="noopener noreferrer" aria-label="researchgate"></a>
            {% endif %}
            {% if links.google_scholar %}
            <a href="{{ links.google_scholar }}" class="univ-link google-scholar" target="_blank" rel="noopener noreferrer" aria-label="google-scholar"></a>
            {% endif %}
            {% if links.orcid %}
            <a href="{{ links.orcid }}" class="univ-link orcid" target="_blank" rel="noopener noreferrer" aria-label="orcid"></a>
            {% endif %}
        {% endwith %}
    </div>
</div>