{% load i18n %}
<div class="teacher-univ-data">
    {% if rewards %}
    <div class="">
        <div class="title">{% trans 'Професiйнi досягнення та нагороди' %}</div>
        <div class="teacher-univ-data__achievements">
            {% for reward in rewards %}
            <p>
                · {{ reward.title }} ({{ reward.year }} {% trans 'year' %})
            </p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if teacher.ndr_theme %}
    <div class="teacher-univ-data__info">
        <div class="title">{% trans 'Тематика НДР' %}</div>
        <div class="row">
            <p>
                {{ teacher.ndr_theme }}
            </p>
        </div>
    </div>
    {% endif %}
    <div class="teacher-univ-data__links">
        {% if teacher.web_of_science %}
        <a href="{{ teacher.web_of_science }}" class="univ-link web-science" target="_blank" rel="noopener noreferrer" aria-label="web-science"></a>
        {% endif %}
        {% if teacher.researchgate %}
        <a href="{{ teacher.researchgate }}" class="univ-link researchgate" target="_blank" rel="noopener noreferrer" aria-label="researchgate"></a>
        {% endif %}
        {% if teacher.google_scholar %}
        <a href="{{ teacher.google_scholar }}" class="univ-link google-scholar" target="_blank" rel="noopener noreferrer" aria-label="google-scholar"></a>
        {% endif %}
        {% if teacher.orcid %}
        <a href="{{ teacher.orcid }}" class="univ-link orcid" target="_blank" rel="noopener noreferrer" aria-label="orcid"></a>
        {% endif %}
    </div>
</div>