{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block extrahead %}

{{ block.super }}
    
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script>
        django.gettext = window.gettext;
    </script>
    <style>
        #container{
            width: auto;
        }
        .changelink{
            display: none !important;
        }
        .cke.cke_reset.cke_chrome{
            width: auto !important;
        }
    </style>
{% endblock %}

{# Setup browser tab label #}
{% block title %}{{ title }} | {% trans "KSAEU" %}{% endblock %}

{# Setup branding #}
{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img style="background-color: white; border-radius: 50%;" src="{{MEDIA_URL}}/images/apple-icon.png" alt="Your Company Name" height="70px" width="70px">
            <br><br>
            </span> {% trans "KSAEU" %}
        </a>
    </h1>
{% endblock %}

{% block userlinks %}

<div class="" style="display: flex;">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
        {% if LANGUAGE_CODE != language.code %}
        <a style="margin-right: 15px;" href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}">{{ language.code }}</a>
        {% endif %}
    {% endfor %}
    
</div>

{{ block.super }}
{% endblock %}