{% extends "admin/index.html" %}
{% load static %}

{% block extrahead %}

{{ block.super }}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script>
        django.gettext = window.gettext;
    </script>
    <style>
        #container{
            width: auto;
        }
        .changelink{
            display: none !important;
        }
    </style>
{% endblock %}