{% load cms_tags menu_tags sekizai_tags static compress i18n structure_load %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>

    {% include 'head.html' %}

    <title>{% block title %}Main{% endblock title %} | {% trans 'KSAEU' %}</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static '/css/style.min.css' %}" type="text/css" media="all">
    {% endcompress %}

    {% block header %}{% endblock %}
    {% block styles %}{% endblock %}
    {% render_block "css" %}

</head>
<body>
    {% cms_toolbar %}

    <div class="page">
        {% include 'header.html' %}
        {% render_menu %}
        
        <main class="main">
            {% block content %}{% endblock %}
        </main>

        {% include 'footer.html' %}
    
    </div>
    {% compress js %}
        <script type="module" src="{% static '/js/app.js' %}"></script>
    {% endcompress %}
    {% block scripts %}{% endblock %}
</body>
</html>
