{% load i18n cms_tags seo %}

<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="format-detection" content="telephone=no">
<link href="/assets/fonts/Gilroy-Bold.woff" rel="preload" as="font" type="font/woff" crossorigin="anonymous">
<link href="/assets/fonts/Gilroy-ExtraBold.woff" rel="preload" as="font" type="font/woff" crossorigin="anonymous">
<link href="/assets/fonts/Gilroy-Regular.woff" rel="preload" as="font" type="font/woff" crossorigin="anonymous">
<link href="/assets/fonts/Gilroy-Medium.woff" rel="preload" as="font" type="font/woff" crossorigin="anonymous">
<link href="/manifest.json" rel="preload" as="fetch" crossorigin="anonymous">

<link rel="manifest" href="/manifest.json">

{% seo_tags %}

<link rel="shortcut icon" type="" href="/assets/images/favicon.png">
<link rel="apple-touch-icon" type="image/png" href="/assets/images/apple-icon.png">
<link rel="apple-touch-icon" type="image/png" sizes="57x57" href="/assets/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/assets/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/assets/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" href="/assets/images/favicon.png">


