<div class="menu" id="menu">
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                Аграрный
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                        Кафедра землеробства
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра рослинництва та агроінженерії
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра ботаніки та захисту рослин
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                Біолого-технологічний
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                        Кафедра ветеринарії, гігієни та розведення тварин імені В.П.Коваленка
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра технології виробництва продукції тваринництва
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра технологій переробки та зберігання сільськогосподарської продукціїї
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра інженерії харчового виробництва
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                Рибного господарства та природокористування
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                        Кафедра екології та сталого розвитку імені професора Ю.В. Пилипенка
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра лісового та садово-паркового господарства
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра водних біоресурсів та аквакультури
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра науки про Землю та хімію
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                Архiтектури та будiвництва
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                        Кафедра будівництва
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра землеустрою, геодезії та кадастру
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра технологій переробки та зберігання сільськогосподарської продукціїї
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра гідротехнічного будівництва, водної інженерії та водних технологій
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                Економічний
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                        Кафедра готельно-ресторанного та туристичного бізнесу й іноземних мов
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра економіки та фінансів
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра загальноекономічної підготовки
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра менеджменту та інформаційних технологій
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра обліку і оподаткування
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра професійної освіти
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                        Кафедра публічного управління та адміністрування
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>