{% load i18n %}

<div class="menu" id="menu">
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                <h2>{% trans 'Аграрный' %}</h2> 
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                    <h2>Аграрный</h2>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                    <h2>Аграрный</h2>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                    <h2>Аграрный</h2>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства Кафедра землеробстваКафедра землеробстваКафедра землеробстваКафедра землеробстваКафедра землеробстваКафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                    <h2>Аграрный</h2>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства Кафедра землеробстваКафедра землеробстваКафедра землеробстваКафедра землеробстваКафедра землеробстваКафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/department.html">
                            <h3>Кафедра землеробства</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>