<div class="menu" id="menu">
    {% for faculty in faculties %}
    <div class="menu-section">
        <div class="section-data">
            <div class="section-title">
                {{ faculty.title }}
            </div>
            <div class="content">
                <ul>
                    {% for cathedra in faculty.cathedras.all  %}
                    <li>
                        <a href="{% url 'cathedra' cathedra_id=cathedra.id %}">
                        {{ cathedra.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>