.footer{
    display: block;
    margin-top: auto;
    width: calc(100% - 80px);
    max-width: 1440px;
    margin: 10px auto;

    .social-links {
        padding: 10px;

        ul{
            width: 100%;
            display: flex;
        }
    }

    .contact-data{
        padding: 10px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;

        a{
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .contact-me-form{
        display: block;
        padding-bottom: 20px;

        label{
            color: rgba(0, 0, 0, 0.7);
        }

        input,
        textarea{
            width: 100%;
            background: rgba(255, 255, 255, 0.5);
            margin-bottom: 10px;
            border-bottom: 5px solid $white;
            font-size: 18px;
            filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.05));
            padding: 15px;
            color: rgba(0, 0, 0, 0.7);
        }

        input::placeholder,
        textarea::placeholder{
            color: rgba(0, 0, 0, 0.5);
        }

        textarea{
            min-height: 100px;
            max-height: 250px; 
        }

        button{
            position: relative;
            font-weight: 600;
            width: 100%;
            padding: 13px 121px;
            background: $buttons-color;
            color: $white;
            font-size: 22px;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $buttons-color;
                z-index: -2;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0%;
                // background-color: darken(#000000, 30%);
                background-color: #000000;
                transition: all .3s;
                z-index: -1;
            }

            &:hover {
                color: #fff;
                &:before {
                  height: 100%;
                }
            }
        }

        // button:hover{
        //     -webkit-background-clip: text;
        //     -webkit-text-fill-color: transparent;
        // }
    }
    
    .internal-links{
        .internal-links__header{
            font-size: 20px;
            color: rgba(0, 0, 0, 0.6);
            border-bottom: 2px solid $white;
        }

        .internal-links__body{
            padding: 10px;

            a{
                font-size: 18px;
                text-decoration: underline;
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}

.footer__block{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #DADADA;
}

.social-links__link{
    margin-right: 25px;
    height: 40px;
    width: 40px;
    transition: transform .5s;

    a{
        display: block;
        height: 100%;
        width: 100%;
    }

    img{
        height: 130%;
        width: 130%;
    }

    &:hover{
        transform: scale(1.1);
    }

}

.contact-data__contacts{
    display: flex;
    flex-direction: column;
}

.footer__copyright{
    color: #979797;
    padding: 10px 0;
}