.main{
    // background: linear-gradient(107.48deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
    // border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    min-height: calc(100vh - 120px);
    margin-bottom: 10px;
}