.menu{
    position: fixed;
    display: flex;
    opacity: 0;
    visibility: hidden;
    top: 50px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    transition: opacity .5s, visibility .5s;
    z-index: 100;
    overflow: hidden;

    &.active{
        opacity: 1;
        visibility: visible;

        .menu-section{
            margin-top: 0 !important;
        }

        .menu-section::before{
            content: '';
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background:rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(7px);
            // transition: height 0s linear 0.33s, opacity 0.33s linear, backdrop-filter .33s linear, background .33s ease-out;
            transition-delay: .2s;
        }
    }

    .menu-section{
        height: calc(100vh - 50px);
        width: 100%;
        position: relative;
        transition: all 0.5s linear;
        margin-top: -100%;

        &:nth-child(2n){
            margin-top: 100%;
        }

        .section-data{
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 2;
            padding: 0 20px;
        }

        .section-title{
            font-size: 20px;
            padding: 15px 0;
            text-align: center;
            border-bottom: 2px solid #DADADA;
            margin-bottom: 30px;
        }

        .content{
            padding: 0 10px;

            ul li{
                text-align: center;
                margin-bottom: 25px;
                padding: 15px 0;
                border-bottom: 2px solid #00000086;
            }
        }
    }
}