.menu{
    position: fixed;
    display: flex;
    top: 50px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    z-index: -1;
    overflow: hidden;

    &.active{
        // opacity: 1;
        // visibility: visible;
        z-index: 100;

        .menu-section{
            bottom: 0 !important;
        }
    }

    .menu-section{
        $el_width: 20%;
        $elements: 5;

        height: calc(100vh - 50px);
        width: #{$el_width};
        position: fixed;
        transition: top .7s, bottom .7s;
        margin-top: calc(50px - 100vh);

        @for $i from 0 to $elements {
            &:nth-child(#{$i + 1}) {
               left: calc(#{$el_width} * #{$i});
            }
        }

        &:nth-child(2n + 1){
            bottom: calc(100vh - 50px);
        }

        &:nth-child(2n){
            bottom: -100%;
        }

        &::before{
            content: '';
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background:rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(7px);
            // transition: height 0s linear 0.33s, opacity 0.33s linear, backdrop-filter .33s linear, background .33s ease-out;
            transition-delay: .2s;
        }

        .section-data{
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 2;
            padding: 0 20px;
        }

        .section-title{
            font-size: 20px;
            padding: 15px 0;
            text-align: center;
            border-bottom: 2px solid #DADADA;
            margin-bottom: 30px;
        }

        .content{
            padding: 0 10px;

            ul li{
                text-align: center;
                margin-bottom: 25px;
                padding: 15px 0;
                border-bottom: 2px solid #00000086;
            }
        }
    }
}