<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

    <div class="page">
        {{> header }}
        {{> menu }}

        <main class="main" id="swup" class="transition-fade">
            {{> news__intro }}
            {{> news__main_slider }}

            <div class="news-container">
                {{> news_card }}
                <!-- {{> news_card }}
                {{> news_card }}
                {{> news_card }}
                {{> news_card }}
                {{> news_card }} -->
            </div>

        </main>
    
        {{> footer }}
    </div>

    <script type="module" src="assets/js/app.js"></script>
</body>
</html>
