.wrapper{
    height: 100%;
    width: auto;
    display: block;
    position: relative;
    padding: 2% 30px;
}

.row{
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 15px;

    &.f-wrap{
        flex-wrap: wrap;
    }
}

.column{
    height: auto;
    width: 100%;
    position: relative;
    display: block;
    margin: 0 15px;
}

section{
    width: 100%;
    position: relative;
    display: block;
    padding: 0 120px;
    margin-bottom: 30px;

    .section-title{
        font-size: 20px;
        color: #197326;
    }

    &:nth-child(2n+1){
        background-color: $grey;
    }

    &.main-section{
        padding: 80px 150px;
        margin-bottom: 0;

        @include breakpoint($desktop-small) {
            padding: 60px 80px;
        }
        
        @include breakpoint($mobile-bp) {
            padding: 40px 20px;
        }
    }

    @include breakpoint($desktop-small) {
        padding: 0 80px;
    }

    @include breakpoint($mobile-bp) {
        padding: 0 20px;
    }
}