input{
    padding: 20px;
    background: $white;
    border: 1px solid $grey;
    border-radius: 5px;

    &::placeholder{
        font-size: 14px;
    }
}

textarea{
    padding: 20px;
    background: $white;
    border: 1px solid $grey;
    border-radius: 5px;
    width: 100%;
    // min-height: 200px;
    // max-height: 300px;
    resize: none;

    &::placeholder{
        font-size: 14px;
    }
}

textarea::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #666;
}