.wrapper{
    height: 100%;
    width: auto;
    display: block;
    position: relative;
    padding: 2% 30px;
}

.row{
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.column{
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    margin: 0 15px;
}

section{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    z-index: 9;
}