@import "vars";
@import "mixins";
@import "reset";
@import "fonts";

body {
    font-family: 'Gilroy';
    font-size: 16px;
    color: $font-color;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
}

body.no-scroll {
    overflow-y: hidden;
}

div{
    display: block;
}

input, textarea, button, h6, h5, h4, h3, h2, h1{
    font-family: 'Gilroy';
}

h1{
    font-weight: 800;
    font-size: 55px;
    line-height: 65px;
}

h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
}

h3{
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}

h4{
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
}

h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

@include breakpoint($mobile-bp) {
    h1{
        font-size: 36px;
        line-height: 46px;
    }
}


.d-flex{
    display: flex;
}

.d-block{
    display: block !important;
}

.d-none{
    display: none !important;
}

.muted{
    opacity: .6;
}

.w-100{
    width: 100% !important;
}

.w-50{
    width: 50% !important;
}

.h-100{
    height: 100% !important;
}

.jc-center{
    justify-content: center !important;
}

.bold{
    font-weight: 700
}

.m-0{
    margin: 0!important;
}

@import "grid";
@import "links";
@import "text";
@import "buttons";

.page{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #666;
}

@import "swup";

@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/footer.scss";
@import "blocks/menu.scss";
@import "blocks/bread-crumbs.scss";

// HOME IMPORTS

@import "blocks/home/intro.scss";
@import "blocks/home/cards.scss";
@import "blocks/home/block.scss";
@import "blocks/home/news.scss";

// FACULTY IMPORTS

@import "blocks/faculty/header.scss";
@import "blocks/faculty/departments.scss";
@import "blocks/faculty/specialities.scss";
@import "blocks/faculty/scientific-society.scss";

// DEPARTMENT IMPORTS

@import "blocks/department/header.scss";
@import "blocks/department/intro.scss";
@import "blocks/department/links.scss";

// TEACHER IMPORTS

@import "blocks/teacher/intro.scss";
@import "blocks/teacher/disciplines.scss";
@import "blocks/teacher/library.scss";

// NEWS

@import "blocks/news/intro.scss";
@import "blocks/news/slider.scss";
@import "blocks/news/news.scss";

// ARTICLE

@import "blocks/article/article.scss";
@import "blocks/article/header.scss";
@import "blocks/article/content.scss";

//  GALLERY

@import "blocks/gallery/intro.scss";
@import "blocks/gallery/galleries.scss";

// VENDORS

@import "vendors/tiny-slider.scss";

// COMPONENTS

@import "components/card.scss";
@import "components/teacher_card.scss";
@import "components/department_card.scss";
@import "components/sections.scss";
@import "components/hiding_list.scss";
@import "components/linked_list.scss";
@import "components/book_card.scss";
@import "components/slider.scss";
@import "components/news_card.scss";
@import "components/gallery_card.scss";
@import "components/pagination.scss";
@import "components/dropdown.scss";