@import "vars";
@import "reset";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: $font-color;
    overflow-y: auto;
}

div{
    display: block;
}

input, textarea, button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block !important;
}

.d-none{
    display: none !important;
}

.muted{
    opacity: .6;
}

.w-100{
    width: 100% !important;
}

.w-50{
    width: 50% !important;
}

.h-100{
    height: 100% !important;
}

.jc-center{
    justify-content: center !important;
}

.bold{
    font-weight: 700
}

@import "grid";
@import "links";

.page{
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, 
                rgba(161, 255, 206, 0.69) 0%, 
                rgba(250, 255, 209, 0.5) 100%);
    min-height: 100vh;
    padding-top: calc(#{$header_height} + 10px);
}

@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/footer.scss";